{% extends "index.html" %}

{% block title %}Primer Reto AJMA{% endblock %}

{% block content %}
    <div class="card" style="width: 100vw; height: 80vh;">
        <center>
            <img class="card-img-top" src="data:image/png;base64,{{ image }}" alt="Grafo" style="width: 35rem; height: auto">
        </center>
        <div class="card-body">
            <div class="card-title">Segundo Reto AJMA</div>
            <p class="card-text">Aqui podras conocer todas las conexiones directas e indirectas de una ciudad</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="start">Ciudad</label>
                    <input type="text" class="form-control" id="start" name="city" placeholder="Ciudad de Partida"
                           value="{{ start }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="card-footer">
            <p class="card-text">Rutas Directas:</p>
            <ul>
                {% for route in directRoutes %}
                    <li>
                        {% for city in route %}
                            {% if forloop.last %}
                                {{ city }} km
                            {% else %}
                                {{ city }} -->
                            {% endif %}
                        {% endfor %}

                    </li>
                {% endfor %}
            </ul>
            <p class="card-text">Rutas Indirectas:</p>
            <ul>
                {% for route in indirectRoutes %}
                    <li style="border: black 1px solid; margin-bottom: 1rem">
                        {% for city in route %}
                            {% if forloop.last %}
                                {{ city }} km
                            {% else %}
                                {{ city }} -->
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
