{% extends "index.html" %}

{% block title %}Primer Reto AJMA{% endblock %}

{% block content %}
    <div class="card" style="width: 100vw; height: 80vh;">
        {% if image is not None %}
            <center>
                <img class="card-img-top" src="data:image/png;base64,{{ image }}" alt="Grafo" style="width: 40rem; height: auto">
            </center>
        {% endif %}
        {% if image is None %}
            <center>
                <h1 class="card-title">No Hay Rutas Ingresadas</h1>
            </center>
        {% endif %}
        <div class="card-body">
            <p class="card-text">Aquí podrás conocer todas las conexiones directas e indirectas de un puerto</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="start">Seleccione un Puerto</label>
                    <select class="form-control" id="city" name="city" required>
                        <option value="" selected disabled hidden>Seleccione un puerto</option>
                        {% for city in city_list %}
                            <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="card-footer" style="height: auto">
            <p class="card-text">Rutas Directas:</p>
            <ul>
                {% for route in directRoutes %}
                    <li>
                        {% for city in route %}
                            {% if forloop.last %}
                                {{ city }} km
                            {% else %}
                                {{ city }} -->
                            {% endif %}
                        {% endfor %}

                    </li>
                {% endfor %}
            </ul>
            <p class="card-text">Rutas Indirectas:</p>
            <ul>
                {% for route in indirectRoutes %}
                    <li>
                        {% for city in route %}
                            {% if forloop.last %}
                                {{ city }} km
                            {% else %}
                                {{ city }} -->
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
