{% extends "index.html" %}

{% block title %}Primer Reto AJMA{% endblock %}

{% block content %}
    <div class="card" style="width: 100vw; height: 100vh;">
        {% if image is not None %}
            <center>
                <img class="card-img-top" src="data:image/png;base64,{{ image }}" alt="Grafo" style="width: 40rem; height: auto">
            </center>
        {% endif %}
        {% if image is None %}
            <center>
                <h1 class="card-title">No Hay Rutas Ingresadas</h1>
            </center>
        {% endif %}

        <div class="card-body">
            <p class="card-text">Aqui podrás hallar la ruta más corta entre dos puertos</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="start">Puerto de Partida</label>
                    <select class="form-control" id="start" name="start" required>
                        <option value="" selected disabled hidden>Seleccione Puerto</option>
                        {% for city in city_list %}
                            <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="end">Puerto de Llegada</label>
                    <select class="form-control" id="end" name="end" required>
                        <option value="" selected disabled hidden>Seleccione un puerto</option>
                        {% for city in city_list %}
                            <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="card-footer">
            <p class="card-text">Ruta Mas Corta: {{ path }} | Distance: {{ dist }}</p>
        </div>
        {% if image_dijkstra is not None %}
            <center>
                <img class="card-img-top" src="data:image/png;base64,{{ image_dijkstra }}" alt="Grafo" style="width: 40rem; height: auto">
            </center>
        {% endif %}
        {% if image_dijkstra is None %}
            <center>
                <h1 class="card-title">No Hay Rutas Ingresadas</h1>
            </center>
        {% endif %}
    </div>
{% endblock %}
