{% extends "index.html" %}

{% block title %}Creación del grafo!{% endblock %}


{% block content %}
    <div class="card" style="width: 100vw; height: 100vh;">
        {% if image is not None %}
            <center>
                <img class="card-img-top" src="data:image/png;base64,{{ image }}" alt="Grafo"
                     style="width: 40rem; height: auto">
            </center>
        {% endif %}
        {% if image is None %}
            <center>
                <h1 class="card-title">No Hay Rutas Ingresadas</h1>
            </center>
        {% endif %}
        <div class="card-body">
            <div class="card-title">Creación de Rutas</div>
            <p class="card-text">Aquí podras crear las rutas y puertos que desees.</p>
            <p class="card-text text-muted">Para crear una ruta, ingresa el puerto de partida y el puerto de
                llegada.</p>
            <p class="card-text text-muted"> Si deseas crear una ruta con puertos que todavia no existe solo hazlo, el
                sistema lo acomoda</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="start">Puerto de Partida</label>
                    <input type="text" class="form-control" id="start" name="start" placeholder="Puerto de Partida"
                           required
                    >
                </div>
                <div class="form-group">
                    <label for="end">Puerto de Llegada</label>
                    <input type="text" class="form-control" id="end" name="end" placeholder="Puerto de Llegada" required
                    >
                </div>
                <div class="form-group">
                    <label for="distance">Distancia</label>
                    <input type="number" class="form-control" id="distance" name="distance" placeholder="Distancia"
                           required
                    >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="card-footer">
            <p class="card-text">Ruta Creada: {{ route }}</p>
        </div>
    </div>
{% endblock %}
